* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

#griglia{
    margin: auto;
    height: 253px;
    width: 253px;
    border: 1px solid blue;
}

.quadrato{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    float: left;
}

.rosso{
    color: red;
}

.verde{
    color:green;
}

.nero{
    color: black;
}
